$breakpoint-mobile: 335px;
$breakpoint-mobileToTablet: 535px;
$breakpoint-tablet: 720px;
$breakpoint-tabletToLaptop: 960px;
$breakpoint-laptop: 1024px;
$breakpoint-laptopToDesktop: 1500px;
$breakpoint-desktop: 1800px;
$mobile-fontSize: 16px;
$mobileToTablet-fontSize: 24px;
$tablet-fontSize: 36px;
$tabletToLaptop-fontSize: 48px;
// $breakpoint-mobile-text-size: 16px;
// $breakpoint-mobile-text-size: 16px;
// $breakpoint-mobile-text-size: 16px;
